#frontinfo {
    background-color: burlywood;
}
h2 {
    font-size: 64px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: black;
    text-shadow: 
        0.025em 0.025em 0 yellow,
        0.05em 0.05em 0 blue,
        0.075em 0.075em 0 red,
        0.1em 0.1em 0 black;
}

#portfolioBtn {
    margin: 10px auto;
    border: 5px solid red;
    text-align: center;
    border-radius: 20px;
    padding: 10px 25px;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
}