.card {
    width: 300px;
    height: 150px;
}
h2 {
    font-size: 64px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: black;
    text-shadow: 
        0.025em 0.025em 0 yellow,
        0.05em 0.05em 0 blue,
        0.075em 0.075em 0 red,
        0.1em 0.1em 0 black;
}



#portfolioBtn {
    /*margin: 10px auto;*/
    border: 5px solid red;
    text-align: center;
    border-radius: 20px;
    padding: 10px 25px;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    width: 200px;
    height: 60px;
}

#swirl-section {
    background-color: #222;
    width: 400px;
    height: 250px;
    
}

.swirl{
    width: 200px;
    height: 200px;
    position: relative;
    filter:blur(2px);
    margin: 20px;
}

.swirl div{
    border: 4px solid yellow;
    border-width:4px 0 0 0;
    border-radius: 50%;
    position: absolute;

}

.swirl div:first-child{
    width: 200px;
    height: 200px;
}

.swirl div:nth-child(2){
    width: 150px;
    height: 150px;
    top: 25px;
    left: 25px;
    transform:rotate(50deg);

}

.swirl div:nth-child(3){
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
    transform:rotate(100deg);
}

#arc-section {
    background-color: #222;
    width: 400px;
    height: 250px;
    
}

.arc{
    width: 200px;
    height: 200px;
    position: relative;
    filter:blur(2px);
    margin: 20px;
}

.arc div{
    border: 4px solid greenyellow;
    border-width:4px 0 0 0;
    border-radius: 50%;
    position: absolute;

}

.arc div:first-child{
    width: 200px;
    height: 200px;
}

.arc div:nth-child(2){
    width: 150px;
    height: 150px;
    top: 25px;
    left: 25px;

}

.arc div:nth-child(3){
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
}

.arc div:nth-child(4){
    width:50px;
    height:50px;
    top: 75px;
    left:75px;

}

#extra-section {
    background-color: #222;
    width: 400px;
    height: 250px;
    
}

.extra{
    width: 200px;
    height: 200px;
    position: relative;
    filter:blur(2px);
    margin: 20px;
}

.extra div{
    border: 4px solid yellow;
    border-width:4px 0 0 0;
    border-radius: 50%;
    position: absolute;

}

.extra div:first-child{
    width: 150px;
    height: 150px;
    top: 25px;
    left: 25px;
}

.extra div:nth-child(2){
    width: 150px;
    height: 150px;
    top: 25px;
    left: 25px;
    transform: rotate(180deg);

}

.extra div:nth-child(3){
    width: 150px;
    height: 150px;
    top: 25px;
    left: 75px;
    transform: rotate(90deg);

}

.extra div:nth-child(4){
    width: 150px;
    height: 150px;
    top: 25px;
    left: -25px;
    transform: rotate(270deg);

}